.cart-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(2rem, 5vw, 6rem);
  background-color: #dddddd69;
}
.cart-empty {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.cart-empty img {
  width: 100%;
  max-width: 400px;
}
.cart-empty button {
  margin: 2rem;
  background: #d62828;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background 0.3s ease;
}

.cart-empty button:hover {
  background-color: #140101;
}

.cart-header {
  width: 100%;
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-header button {
  box-shadow: 1px 1px 5px gray;
  border: none;
  color: #000000;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background 0.3s ease;
}

.cart-header button:hover {
  background: black;
  color: white;
}
.cart-total {
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-card {
  width: 100%;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 24px;
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;
}

.cart-img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.cart-details {
  flex: 2;
  min-width: 150px;
}

.cart-details h4 {
  margin: 0;
  font-size: 1rem;
}

.cart-details p {
  margin: 4px 0;
  color: #555;
}

.cart-qty {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-qty button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background: #f0f0f0;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-qty button:hover {
  background: #ddd;
}

.cart-qty span {
  min-width: 24px;
  text-align: center;
  font-weight: bold;
}

.remove-btn {
  /* min-width: 130px; */
  background: #d62828;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background 0.3s ease;
}

.remove-btn:hover {
  background-color: #140101;
}

@media (max-width: 600px) {
  .cart-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-qty {
    margin-top: 10px;
  }

  .remove-btn {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}
