.error-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-section h3 {
  font-weight: bold;
}
.error-img-sec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.error-img-sec img {
  width: 100%;
  max-width: 300px;
}
.error-section button {
  margin-top: var(--space-md);
  background: #d62828;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background 0.3s ease;
}

.error-section button:hover {
  background-color: #140101;
}
