.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: clamp(2rem, 5vw, 6rem);
  background-color: #fdf2e9;
  /* background: linear-gradient(to bottom, #ffdbbe, #ffdbbe, #ffffff); */
  position: relative;
  gap: 2rem;
}
.hero_content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 2rem);
}
.hero-title {
  font-size: clamp(3rem, 6vw, 4rem);
  font-weight: 800;
  color: #141414;
  margin: 0;
}
.hero-title .qes-span {
  color: #d62828;
  padding: 0 0 0 var(--space-sm);
}
.hero-subtitle {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #333;
  margin: 0;
  font-weight: 600;
}

.hero_trust p {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  color: #555;
  font-weight: 500;
}

.hero_action .order-now-btn {
  background: #d62828;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background 0.3s ease;
  animation: bounce 1.5s infinite;
}

.hero_action .order-now-btn:hover {
  background-color: #140101;
  animation-play-state: paused;
}

.hero_visual {
  position: relative;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero_visual img {
  position: absolute;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  object-fit: contain;
  filter: contrast(1.05) saturate(1.05);
}

.hero_visual .onion {
  top: -60px;
  left: -60px;
  width: clamp(80px, 15vw, 160px);
  z-index: 2;
  transition: all 0.5 ease;
  filter: drop-shadow(5px 5px 5px rgba(2, 2, 2, 0.9));
}
.hero_visual .onion:hover {
  transform: translateY(15px);
  transform: translateX(15px);
}

.hero_visual .hero-pizza {
  position: relative;
  z-index: 1;
  width: clamp(300px, 30vw, 400px);
  border-radius: 50%;
  animation: spin infinite 20s linear;
}
.hero_visual .hero-pizza:hover {
  animation-play-state: paused;
}

.hero_visual .tomato {
  bottom: -60px;
  right: -60px;
  width: clamp(80px, 15vw, 160px);
  z-index: 2;
  filter: drop-shadow(5px 5px 2px rgba(2, 2, 2, 0.9));
}
.hero_visual .tomato:hover {
  transform: translateY(-15px);
  transform: translateX(-15px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
    padding: clamp(2rem, 5vw, 4rem);
  }

  .hero_content,
  .hero_visual {
    max-width: 90%;
  }

  .hero_visual img {
    position: static;
    margin: 1rem;
  }

  .hero_visual {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .hero_visual .onion,
  .hero_visual .tomato {
    display: none;
  }
}
