.initial-loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdf2e9;
  overflow: hidden;
  letter-spacing: 5px;
}
.initial-loader-screen p {
  font-weight: bold;
  animation: blinker 1.2s infinite;
}
.initial-loader-title {
  padding: 1rem;
  font-size: 3rem;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@keyframes blinker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
