.loading-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.loader {
  width: 3rem;
  height: 3rem;
  border: 5px solid;
  border-color: darkred transparent;
  border-radius: 50%;
  animation: load 1s linear infinite;
}
.loading-section p {
  margin: var(--space-xl);
  font-weight: 700;
}
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
