.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  border-bottom: 2px solid transparent;
  padding: 5px;
}

.nav-links a:hover {
  color: #d62828;
  border-bottom: 2px solid #d62828;
}
