.notfound-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.notfound-section img {
  width: 100%;
  max-width: 300px;
}
.notfound-section button {
  margin-top: var(--space-md);
  background: #d62828;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background 0.3s ease;
}

.notfound-section button:hover {
  background-color: #140101;
}
